<!DOCTYPE html>
<html lang="pt-br" ng-app="Areas">
    <head>
        
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="img/favicon.ico">

        <title>Smart House - Alarme</title>

        <!-- jQuery -->
        <script src="js/jquery.js"></script>
        
        <!-- Bootstrap Core CSS -->
        <link href="css/bootstrap.css" rel="stylesheet">
        <script src="js/bootstrap.js"></script>
        <link href="css/style.css" rel="stylesheet">
        <script src="js/style.js"></script>

        <!-- Custom styles for this template -->
        <link href="css/justified-nav.css" rel="stylesheet">
        
        <!-- Bootstrap Toggle -->
        <link href="css/bootstrap-toggle.css" rel="stylesheet">
        <script src="js/bootstrap-toggle.js"></script>
        
        <script src="js/notify.js"></script>

        <!-- Custom Fonts
        <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
        <script src="font-awesome/font.js"></script>

        <script src="js/socket.io-1.4.5.js"></script> <!-- chamamos o socket.io que por padrão o socket.io cria a rota http sem precisarmos interferir-->

        <!-- noUISlider -->
        <link href="css/nouislider.css" rel="stylesheet">
        <script src="js/nouislider.js"></script>
        
        <script src="js/angular.js"></script>
        
        <style>
            .vertical-alignment-helper {
                display:table;
                height: 100%;
                width: 100%;
                pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
            }
            .vertical-align-center {
                /* To center vertically */
                display: table-cell;
                vertical-align: middle;
                pointer-events:none;
            }
            .modal-content {
                /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
                width:inherit;
                height:inherit;
                /* To center horizontally */
                margin: 0 auto;
                pointer-events: all;
            }
        </style>

    </head>

<body>

    <div class="container">

        <div class="row">
            <nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/home"><img src="img/logo.jpg"></a>
                    </div>
                    <div class="collapse navbar-collapse animated fadeIn" id="bs-example-navbar-collapse-1">
                      <ul class="nav navbar-nav animated fadeIn text16">
                        <li><a href="/home"><center><i class="fa fa-home"></i> Página Inicial</center></a></li>
                        <li><a href="/areas"><center><i class="fa fa-wpforms"></i> Áreas</center></a></li>
                        <li  class="active"><a href="/alarme"><center><i class="fa fa-bell-o"></i> Alarme</center></a></li>
                      </ul>
                      <ul class="nav navbar-nav navbar-right">
                        <li><a href="/logout"><button type="button" class="btn btn-default btn-xs"><center>SAIR</center></button></a></li>
                      </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div><br><br><br><br>
    
        
        <div class="row" ng-controller="AppCtrl">
            <div class="col-lg-4"></div>
            <div class="col-lg-4"><br>
                <div class="panel panel-grey">
                    <div class="panel-heading">
                        <center><h2>Alarme</h2></center>
                    </div>
                    <div class="panel-body">
                        <div class="panel-body">
                            <center><input id="ALARME" type="checkbox" data-toggle="toggle" data-onstyle="success" data-offstyle="danger"></center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="vertical-alignment-helper">
                <div class="modal-dialog vertical-align-center">
                    <div class="modal-content">
                        <div class="modal-body">
                            <h2><center><i class="fa fa-refresh fa-spin"></i> Sincronizando</center></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>

    <script src="js/controllers/controllers.js"></script>
    
    <script type="text/javascript">
        var socket = io.connect();
        var atuador;
        var status;
        //função que é disparada quando é pressionado o botão
        $(function() {
            $('#ALARME').change(function() {
                if ($(this).prop('checked') === true ){
                    atuador = "ALARME"
                    status = "ON"
                    $.notify("Alarme ligado!", { globalPosition:"bottom", className: 'success'});
                } else {
                    atuador = "ALARME"
                    status = "OFF"
                    $.notify("Alarme desligado!", { globalPosition:"bottom", className: 'error'});
                }
                socket.emit('atuador', atuador);
                socket.emit('status', status);
            })
        })
    </script>
    
    <script>
        $(document).ready(function() {
            $('#Modal').modal({
              backdrop: 'static',
              keyboard: true,
              show: true
            })
        });
    </script>
</body>
</html>
